@tailwind base;
@tailwind components;
@tailwind utilities;






h1,h2,h3,h4{
 font-family:  'EB Garamond',Helvetica,Arial,sans-serif;  
 
}
p{
  font-family:  Montserrat,Helvetica,Arial,sans-serif; 
}

.menuPopup-content {
  @apply w-full h-full;
 }

.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.column-2 p {
/* columns: 2; */
}

.column-3 p {
columns: 3;
}

/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  
  font-family:  Montserrat,Helvetica,Arial,sans-serif; 
   /* font-size: 137.5%;  */
   /* -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; */

  
  -webkit-font-smoothing: antialiased;

  @apply text-black;
}
/* Copy & Lists */
p {
  @apply text-mbase md:text-base;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  @apply text-mbase md:text-base;
  line-height: 1.5em;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
 
  font-family:  Montserrat,Helvetica,Arial,sans-serif; 
  @apply font-bold break-words;
  margin-top: 1.5em;
  margin-bottom: 0;
  line-height: 1.5em;
}
h1 {
  @apply text-m4xl md:text-4xl;
}
h2 {
  @apply text-m3xl md:text-3xl;
 
}
h3 {
  @apply text-m2xl md:text-2xl;
}
h4 {
  @apply text-mxl md:text-xl;
}
h5 {
  @apply text-mlg md:text-lg;
  
}
h6 {
  @apply text-mbase md:text-base;
 
}
/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}

.customUnderline{
  @apply relative;
}
.customUnderline::after {
  @apply absolute bottom-0 left-0 w-full ;
  content: '';
  border-bottom: solid 0.2em currentColor;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.customUnderline:hover::after,
.customUnderline.customUnderline--active::after {
  opacity: 1;
  transform: translate3d(0, -0.2em, 0) ;
}
